.settings-container {
    background-image: url('https://img.freepik.com/premium-photo/world-animal-welfare-day-copy-space_548646-71507.jpg?size=626&ext=jpg&ga=GA1.1.1415426060.1719418825&semt=ais_hybrid');
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    padding: 20px;
  }
  